Web References/captcha1/CaptchaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Generate">
        <s:complexType />
      </s:element>
      <s:element name="GenerateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateResult" type="tns:GenerateCaptcha" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GenerateCaptcha">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tokan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputtext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateSoapIn">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="GenerateSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="CaptchaServiceSoap">
    <wsdl:operation name="Generate">
      <wsdl:input message="tns:GenerateSoapIn" />
      <wsdl:output message="tns:GenerateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaptchaServiceSoap" type="tns:CaptchaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generate">
      <soap:operation soapAction="http://tempuri.org/Generate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaptchaServiceSoap12" type="tns:CaptchaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generate">
      <soap12:operation soapAction="http://tempuri.org/Generate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://tempuri.org/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaptchaService">
    <wsdl:port name="CaptchaServiceSoap" binding="tns:CaptchaServiceSoap">
      <soap:address location="http://serviciocaptcha.azurewebsites.net/CaptchaService.asmx" />
    </wsdl:port>
    <wsdl:port name="CaptchaServiceSoap12" binding="tns:CaptchaServiceSoap12">
      <soap12:address location="http://serviciocaptcha.azurewebsites.net/CaptchaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>